body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 1px;
    text-align: center;
}

button {
    background-color: #0056a0;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
    cursor: pointer;
}
